<h1 class="text-center">Listing all articles (<%= @articles.length %>):</h1>

<div class="center">
    <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div class="center">
    <%= will_paginate %>
</div>